@font-face {
    font-family: halloween2;
    src: url(../tipografias/hollows.ttf);
}
@font-face {
    font-family: halloween3;
    src: url(../tipografias/Viktors\ Littl\ Creepy\ Horror.ttf);
}
body {
    background-color: black;
}
#container {
    background-image: url(../imagenes/wallpaper.jpg);
    width: 1366px;
    height: 659px;
}
#ventana {
    position: absolute;
    left: 1000px;
    top: 230px;
    width: 30px;
    height: 45px;
    /*border: 1px solid white;*/
}
#screamer1 {
    position: absolute;
    left: 700px;
    top: 90px;
    width: 600px;
    visibility: hidden;
}
p {
    color: white;
    font-family: halloween2;
    font-size: 30px;
    position: absolute;
}
#texto1 {
    top: 80px;
    left: 660px;
    visibility: hidden;
}
#texto2 {
    position: absolute;
    top: 290px;
    left: 120px;
    text-align: center;
} 
#puerta {
    position: absolute;
    /*border: 1px solid white;*/
    top: 370px;
    left: 870px;
    height: 100px;
    width: 60px;
}
#texto3 {
    left: 400px;
    top: 200px;
    color: red;
    visibility: hidden;
    text-align: center;
}
#zombie {
    position: absolute;
    top: 350px;
    left: 200PX;
    width: 250px;
    visibility: hidden;
}
#ojo {
    position: absolute;
    top: 200px;
    left: 270px;
    width: 100px;
}
#texto4 {
    position: absolute;
    top: 260px;
    left: 160px;
    font-family: halloween3;
    visibility: hidden;
    color: brown;
    text-shadow: 2px 2px 2px black;
}
#texto5 {
    position: absolute;
    top: 260px;
    left: 160px;
    font-family: halloween3;
    visibility: hidden;
    color: rgb(118, 12, 145);
    font-size: 40px;
}
#fantasma2 {
    position: absolute;
    visibility: hidden;
    top: 380px;
    left: 240px;
    width: 200px;
}
#enlace {
    position: absolute;
    color: rgb(13, 87, 46);
    font-family: halloween2;
    text-align: center;
    padding: 8px;
    font-size: 35px;
    background-color: rgb(70, 19, 94);
    border-radius: 60px;
    width: 300px;
    left: 180px;
    top: 550px;
    visibility: hidden;
}